/api-model/target
/build/
/build-support/target
/artifacts
/docker/**/staging
/tools/container-converter/target
vsock-proxy/target
enclave-startup/target
/tools/enclaveos-encrypted-fs/target

# Platform specific, should be copied from artifacts
docker/common-build-context/nvidia-artifacts.tar.gz
